.achievement {
    &-inner {
        padding: 90px 0 150px;
    }
    ul {
        display: flex;
        justify-content: space-around;
    }
    &-item {
        text-align: center;
        &-num {
            font-size: 80px;
            font-weight: 100;
            color: $text-color-secondary;
        }
        &-text {
            @include open-sans;
            @include subtitle-param;
            color: $text-color-main;
        }
    }
    @media screen and (max-width: $tablet-wide) {
        &-inner {
            padding: 90px 0 100px;
        }

        ul {
            flex-direction: column;
        }
        &-item {
            margin-bottom: 30px;
        }
    }
}
