.header {
    background-image: $header-bg-gradient;
    &-inner {
        background-image: url(../img/header-bg-lines.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 45px 0;
        color: $header-text-color;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 1;
        &-logo {
        }
        &-nav {
            ul {
                display: flex;
            }
            li + li {
                margin-left: 20px;
            }
            a {
                @include open-sans;
                display: block;
                color: $header-text-color;
                font-size: 16px;
                padding: 6px 0;
                border-bottom: 3px solid transparent;
                transition: $transition-time;
                letter-spacing: $text-letter-spacing;

                &:hover {
                    border-bottom: 3px solid $text-color-secondary;
                }
            }
        }
    }
    &-content {
        display: flex;
        flex-grow: 1;

        &-wrap {
            display: flex;
            align-self: center;
        }

        &-book {
            display: block;
            background-image: url(../img/header-book.svg);
            background-repeat: no-repeat;
            height: 640px;
            min-width: 450px;
            background-size: contain;

            &-title {
                font-size: 36px;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 1.2;
                text-align: center;
                letter-spacing: 0.02em;
                margin-left: 30px;
                margin-top: 110px;
            }
            &-subtitle,
            &-autor {
                @include open-sans;
                color: $text-color-secondary;
                font-size: 14px;
                line-height: 1.714;
            }
            &-subtitle {
                text-align: center;
                letter-spacing: $text-letter-spacing;
                margin-left: 30px;
            }
            &-autor {
                letter-spacing: $text-letter-spacing;
                margin-left: 85px;
                margin-top: 390px;
            }
        }
        &-info {
            padding-left: 50px;
            flex-basis: 55%;
            &-autor {
                @include open-sans;
                @include subtitle-param;
            }
            &-title {
                @include title-param;
                margin: 30px 0 5px;
            }
            &-subtitle {
                color: $text-color-secondary;
                @include subtitle-param;
            }
            &-text {
                @include open-sans;
                @include text-param;
                margin: 25px 0;
            }
            &-btn {
                max-width: 250px;
                margin: 45px 0 20px;
            }
            em {
                @include open-sans;
                font-size: 12px;
                letter-spacing: 0.02em;
                display: block;
            }
        }
    }
}
