.header {
    background-image: $header-bg-gradient;
    &-inner {
        background-image: url(../img/header-bg-lines.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 45px 0;
        color: $header-text-color;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 1;
        position: relative;
        &-logo {
        }
        &-nav {
            ul {
                display: flex;
            }
            li + li {
                margin-left: 20px;
            }
            a {
                @include open-sans;
                display: block;
                color: $header-text-color;
                font-size: 16px;
                padding: 6px 0;
                border-bottom: 3px solid transparent;
                transition: $transition-time;
                letter-spacing: $text-letter-spacing;

                &:hover {
                    border-bottom: 3px solid $text-color-secondary;
                }
            }
        }

        &-burger {
            display: none;
            width: 50px;
            height: 40px;
            cursor: pointer;
            position: fixed;
            z-index: 40;
            right: 40px;
            top: 45px;
            svg {
                height: 100%;
                width: 100%;
                path {
                    fill: $btn-burger-main;
                    transition: $transition-time;
                }
            }
            &:hover {
                svg {
                    path {
                        fill: $btn-burger-secondary;
                    }
                }
            }
        }
    }
    &-content {
        display: flex;
        flex-grow: 1;

        &-wrap {
            display: flex;
            align-self: center;
        }

        &-book {
            display: block;
        }
        &-info {
            padding-left: 50px;
            flex-basis: 55%;
            &-autor {
                @include open-sans;
                @include subtitle-param;
            }
            &-title {
                @include title-param;
                margin: 30px 0 5px;
            }
            &-subtitle {
                color: $text-color-secondary;
                @include subtitle-param;
            }
            &-text {
                @include open-sans;
                @include text-param;
                margin: 25px 0;
            }
            &-btn {
                max-width: 250px;
                margin: 45px 0 20px;
            }
            em {
                @include open-sans;
                font-size: 12px;
                letter-spacing: 0.02em;
                display: block;
            }
        }
    }

    @media screen and (max-width: $tablet-wide) {
        &-top {
            &-nav {
                display: none;
            }
            &-burger {
                display: block;
                // &.active {
                //     display: none;
                // }
            }
        }

        &-content {
            margin-top: 20px;
            &-wrap {
                flex-direction: column;
            }
            &-book {
                margin: 0 auto;
                max-width: 350px;
                img {
                    width: 100%;
                }
            }

            &-info {
                padding-left: 0;

                &-btn {
                    max-width: 300px;
                    margin: 45px auto 20px;
                }
                em {
                    text-align: center;
                }
            }
        }
    }
}
