* {
    box-sizing: border-box;
}

body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Slab", serif;
    position: relative;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

.wrapper {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn-gradient {
    background-image: $btn-gradient-color;
    font-size: 18px;
    padding: 13px 15px;
    color: $btn-text-color;
    border-radius: 3px;
    letter-spacing: 0.05em;
    display: block;
    text-align: center;
    box-shadow: $btn-box-shadow;
    transition: $transition-time;

    &:hover {
        color: $text-color-main;
        text-decoration: underline;
    }

    @media screen and (max-width: $tablet-wide) {
        font-size: 22px;
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $modal-bg;
    z-index: 50;
    &-nav {
        position: fixed;
        background-color: $modal-menu-bg;
        width: 200px;
        height: 100%;
        right: 0;
        z-index: 51;
        padding: 30px;

        li + li {
            margin-top: 20px;
        }
        a {
            @include open-sans;
            display: block;
            color: $btn-modal-main;
            font-size: 16px;
            padding: 6px 0;
            border-bottom: 3px solid transparent;
            transition: $transition-time;
            letter-spacing: $text-letter-spacing;

            &:hover {
                border-bottom: 3px solid $btn-modal-secondary;
            }
        }
    }

    @media screen and (max-width: $tablet-wide) {
        &.active {
            display: block;
        }
    }
}
