.testimonial {
    width: 100%;
    background: $title-color-main;
    clip-path: polygon(0 0, 50% 6%, 100% 0, 100% 94%, 50% 100%, 0 94%);
    &-inner {
        padding: 200px 0 200px;
    }

    &-swiper-container {
        width: 100%;
        margin: 0 auto;
        position: relative;
        overflow: hidden;

        .swiper-wrapper {
            position: relative;
            width: 100%;
            height: 90%;
            display: flex;
        }

        .swiper-slide {
            flex-shrink: 0;
            width: 100%;
            height: 100%;
            position: relative;
        }

        .swiper-pagination {
            text-align: center;
            margin-top: 50px;
        }

        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            display: inline-block;
            border-radius: 4px;
            background: $text-color-secondary;
            cursor: pointer;
            margin: 0 5px;
            transition: $transition-time;
        }

        .swiper-pagination-bullet-active {
            width: 35px;
        }
    }

    &-item {
        text-align: center;
        margin: 0;
        max-width: 740px;
        margin: 0 auto;
        figure {
            position: relative;
        }
        figcaption {
            margin-top: 20px;
        }

        &-photo {
            border-radius: 50%;
            position: relative;
        }

        &-quote {
            height: 45px;
            position: absolute;
            z-index: 10;
            left: calc(50% + 50px);
        }
        &-name {
            display: block;
            @include title-small-param;
            color: $text-color-secondary;
        }
        &-qualification {
            display: block;
            @include open-sans;
            @include text-param;
            color: $testimonial-text-color;
        }
        &-text {
            @include open-sans;
            @include text-param;
            color: $testimonial-text-color;
            transition: $transition-time;
            display: block;
            margin-top: 35px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
